

.main {
    margin-top: 30px;
    
    
  }
  .name {
    margin-top: 25px;
    font-size: 50px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    background-size: 1px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

    
}
.dog{
  margin-top: 25px;
    font-size: 50px;
    text-align: center;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;


}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    justify-content: left;
  }
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: rgb(183, 226, 240);
    color: black;
  }

  .fa-github:before {
    content: "\f09b";
    color: lightgray;
}
.fa-linkedin-square:before {
  content: "\f08c";
  color: lightgrey;
}

  .cards-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .card{
    margin-top: 100px;
    margin-left: 20px;
  }
  .card-img-top {
    padding: 10px;
}
  a{
    text-decoration: none;
    background-color: transparent;
    margin-left: 35px;
  }
  .email {
    font-size: 20px;
    color: lightgrey;
    padding-top: 10px;
}
  .fa-vcard:before, .fa-address-card:before {
    content: "\f2bb";
    color: lightgrey;
}


#a{
  height: 100vh; 
  background-image: url("images/y.jpg");
  background-size: cover;
  overflow: scroll;
  
  
  
  
}
.info-container{
    padding:50px;
}
/* .name{
    text-align: center;
} */

#b{
  height: 100vh; 
  background-color: blue;
  background-image: url("images/in.jpg");
  background-size: cover;
  overflow: scroll;

}
.project-title{
  text-align: center;
  padding-top: 5%;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;


}

#c{
  height: 100vh; 
  background-color: yellow;
  background-image: url("images/beach.jpg");
  background-size: cover;
  overflow: scroll;

}
form{
  color:white;
  margin-top: 5%;
  padding-left: 33%;
}

