

.main {
    margin-top: 30px;
    
    
  }
  .name {
    margin-top: 25px;
    font-size: 50px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    background-size: 1px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

    
}
.dog{
  margin-top: 25px;
    font-size: 50px;
    text-align: center;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;


}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* @media screen and (max-width: 900px) {
  .navbar {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  #a{
    top:0;
    background-color: black;
  }
  /* .navbar-2{
    display: block;
  } */
  .main{
    margin-top:0px;
  }
  
} */
/* @media screen and (max-width: 1024px){
  .cards-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  

} */

.navbar-2{
  overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    justify-content: left;
}
.navbar-2 a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar-2 a:hover {
  background: rgb(183, 226, 240);
  color: black;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    justify-content: left;
  }
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: rgb(183, 226, 240);
    color: black;
  }

  .fa-github:before {
    content: "\f09b";
    color: lightgray;
}
.fa-linkedin-square:before {
  content: "\f08c";
  color: lightgrey;
}


  .cards-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .card{
    margin-top: 100px;
    margin-left: 20px;
  }
  .card-img-top {
    padding: 10px;
}

  a{
    text-decoration: none;
    background-color: transparent;
    margin-left: 35px;
  }
  .email {
    font-size: 20px;
    color: lightgrey;
    padding-top: 10px;
}
  .fa-vcard:before, .fa-address-card:before {
    content: "\f2bb";
    color: lightgrey;
}


/* #a{
  height: 100vh; 
  /* background-image: url("images/y.jpg"); */
  /* background-size: cover;
  overflow: scroll; */
  
  
  
  
/* }  */

#a { position:relative; }
#a video {
    position:relative;
    z-index:0;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}


/* .info-container{
    padding:50px;
    position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
} */
/* .name{
    text-align: center;
} */

#b{
  height: 100vh; 
  background-color: blue;
  background-image: url("images/in.jpg");
  background-size: cover;
  overflow: scroll;

}
.project-title{
  text-align: center;
  padding-top: 5%;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;


}

#c{
  height: 100vh; 
  background-color: yellow;
  background-image: url("images/beach.jpg");
  background-size: cover;
  overflow: scroll;

}
form{
  color:white;
  margin-top: 5%;
  padding-left: 33%;
}

